faicons
# palmerpenguins
pandas
pyarrow
plotly
seaborn
shiny
shinylive
shinywidgets
scipy
plotly.express
# plotly < 6.0 # https://github.com/santosjorge/cufflinks/issues/289
yfinance
# pandas==2.2.1
cufflinks
matplotlib